{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<style>
    .example-wrapper { 
      margin: 1em auto; 
      width: 95%; 
      font: 18px/1.5 sans-serif;
      
    }

    body {
      background-color: #a2a2a2 !important;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

<div class="example-wrapper">
  <table class="ui celled table">
    <thead>
      <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Section</th>
          <th>Set prepared</th>
      </tr>
    </thead>
    <tbody>
      {% for c in commands %}
        <tr>
            <td data-label="Name">{{ c.product.name }}</td>
            <td data-label="Quantity">{{ c.quantity }}</td>
            <td data-label="Section">{{ c.product.idsection.name }}</td>
            {% if c.prepared != 1 %}
                <td>
                    <form method="POST" action='/validateCommandDetail'>
                        <div class="ui checkbox">
                            <input type="checkbox" name="example" onChange="this.form.submit()">
                            <input type="hidden" name="product" value="{{ c.product.id }}" />
                            <input type="hidden" name="command" value="{{ c.command.id }}" />
                            <label>Set prepared</label>
                        </div>
                    </form>
                </td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
